In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.facecolor']='w'

In [2]:

teledf = pd.read_csv('telcomarketing.csv')

In [3]:
#basic discovery

teledf.sample(20)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
787,TN,70,510,No,No,0,126.3,99,21.47,141.6,106,12.04,255.9,96,11.52,9.6,2,2.59,0,False
370,WA,109,415,No,No,0,184.0,120,31.28,120.4,119,10.23,153.7,86,6.92,11.0,3,2.97,0,False
521,WY,87,415,No,Yes,22,263.8,65,44.85,103.4,115,8.79,208.1,109,9.36,8.5,3,2.30,3,False
599,NC,27,408,No,No,0,201.2,128,34.20,227.2,100,19.31,145.8,91,6.56,8.4,3,2.27,2,False
1827,AK,146,415,No,No,0,195.9,86,33.30,228.6,82,19.43,303.5,94,13.66,12.2,4,3.29,3,False
1442,AR,116,415,No,Yes,23,253.0,78,43.01,138.9,121,11.81,277.8,104,12.50,11.8,3,3.19,2,False
1929,SC,161,510,No,No,0,297.9,141,50.64,238.1,107,20.24,240.5,93,10.82,8.9,5,2.40,1,True
1923,VA,123,408,No,No,0,154.3,107,26.23,183.0,111,15.56,54.0,134,2.43,10.9,8,2.94,0,False
1140,CO,192,415,No,No,0,221.6,101,37.67,285.2,50,24.24,167.4,83,7.53,12.7,6,3.43,4,False
108,NJ,78,415,No,No,0,231.0,115,39.27,230.4,140,19.58,261.4,120,11.76,9.5,3,2.57,1,False
20,VA,132,510,No,No,0,81.1,86,13.79,245.2,72,20.84,237.0,115,10.67,10.3,2,2.78,0,False
423,MI,30,510,No,No,0,227.4,88,38.66,182.5,100,15.51,191.7,134,8.63,12.5,3,3.38,0,False
2068,IA,64,415,No,Yes,43,118.4,100,20.13,144.1,108,12.25,158.1,91,7.11,8.5,6,2.30,1,False
286,AR,179,415,Yes,Yes,38,220.1,78,37.42,234.3,71,19.92,237.3,85,10.68,10.1,4,2.73,4,False
2570,WA,143,510,No,No,0,133.4,107,22.68,223.9,117,19.03,180.4,85,8.12,10.2,13,2.75,1,False
1545,IL,76,510,No,No,0,186.1,96,31.64,211.6,100,17.99,230.6,100,10.38,8.0,4,2.16,0,False
514,CO,111,510,No,Yes,24,205.5,114,34.94,219.3,99,18.64,215.9,95,9.72,14.0,4,3.78,1,False
1519,NJ,72,415,No,No,0,175.5,103,29.84,132.3,120,11.25,242.9,96,10.93,11.8,3,3.19,1,False
3215,OR,81,415,No,No,0,324.7,48,55.20,236.4,82,20.09,187.6,78,8.44,13.1,5,3.54,0,True
2450,ND,149,408,No,No,0,175.4,80,29.82,197.4,127,16.78,188.2,102,8.47,9.7,2,2.62,2,False

In [4]:
teledf.shape

(3333, 20)

In [5]:
teledf.nunique()

State                       51
Account length             212
Area code                    3
International plan           2
Voice mail plan              2
Number vmail messages       46
Total day minutes         1667
Total day calls            119
Total day charge          1667
Total eve minutes         1611
Total eve calls            123
Total eve charge          1440
Total night minutes       1591
Total night calls          120
Total night charge         933
Total intl minutes         162
Total intl calls            21
Total intl charge          162
Customer service calls      10
Churn                        2
dtype: int64

In [6]:
teledf.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls             int64
Total day charge          float64
Total eve minutes         float64
Total eve calls             int64
Total eve charge          float64
Total night minutes       float64
Total night calls           int64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls      int64
Churn                        bool
dtype: object

In [8]:
teledf.isna().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
Total minutes             0
Total calls               0
Total charge              0
dtype: int64

In [9]:
#total column

teledf['Total minutes'] = teledf.loc[:,teledf.columns.str.endswith('minutes')].sum(axis=1)
teledf['Total calls'] = teledf.loc[:,teledf.drop(columns='Customer service calls').columns.str.endswith('calls')].sum(axis=1)
teledf['Total charge'] = teledf.loc[:,teledf.columns.str.endswith('charge')].sum(axis=1)

In [17]:
#QC

teledf.head()
teledf.shape
teledf.sample(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total minutes,Total calls,Total charge
349,NE,148,415,0,0,0,178.3,98,30.31,282.6,...,98,8.15,11.4,4,3.08,1,0,653.3,310,65.56
1174,MT,138,415,0,0,0,133.9,87,22.76,166.4,...,139,8.71,15.4,3,4.16,1,0,509.2,339,49.77
2393,OH,87,510,0,0,0,153.3,106,26.06,224.5,...,152,12.30,8.9,5,2.40,2,0,660.1,380,59.84
400,WV,95,415,0,0,0,175.2,91,29.78,244.4,...,95,3.41,7.5,2,2.03,1,0,502.9,297,55.99
2491,AZ,107,415,0,1,32,134.2,101,22.81,211.9,...,138,7.54,8.2,5,2.21,1,0,521.9,389,50.57
656,NH,88,415,0,0,0,202.2,86,34.37,216.8,...,99,10.77,11.8,2,3.19,2,0,670.2,280,66.76
1835,OR,80,415,0,0,0,113.2,86,19.24,185.5,...,145,10.68,9.5,5,2.57,1,0,545.5,333,48.26
2507,GA,98,408,0,0,0,169.9,77,28.88,138.3,...,105,6.42,8.5,7,2.30,1,0,459.3,344,49.36
9,RI,74,415,0,0,0,187.7,127,31.91,163.4,...,94,8.82,9.1,5,2.46,0,0,556.2,374,57.08
213,IL,151,408,0,0,0,134.5,88,22.87,143.1,...,61,10.08,15.4,1,4.16,1,0,516.9,262,49.27

In [10]:
#dummies

teledf = teledf.replace({'International plan':{'Yes':1,'No':0}})
teledf = teledf.replace({'Voice mail plan':{'Yes':1,'No':0}})
teledf['Churn'] = teledf['Churn'].astype(int)

In [11]:
#QC

teledf.head()
teledf.shape
teledf.sample(10)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Total minutes,Total calls,Total charge
1108,NJ,1,415,0,1,30,183.1,95,31.13,232.6,...,110,11.17,8.4,2,2.27,0,0,1344.8,1661.8,128.68
189,MD,93,408,1,0,0,312.0,109,53.04,129.4,...,74,9.79,10.5,2,2.84,0,1,1339.0,1624.0,153.34
940,MD,88,415,1,0,0,235.1,98,39.97,251.8,...,76,12.87,7.2,2,1.94,4,1,1560.0,1815.0,152.36
161,TN,78,415,0,0,0,149.7,119,25.45,182.2,...,126,11.77,9.7,8,2.62,0,0,1206.2,1574.2,110.66
1456,WV,52,510,0,1,21,195.7,119,33.27,106.2,...,94,7.08,5.3,3,1.43,2,0,929.2,1240.2,101.62
2184,WV,63,510,0,0,0,261.8,69,44.51,245.0,...,94,9.09,14.7,4,3.97,0,1,1447.2,1749.2,156.80
759,GA,58,408,0,0,0,165.4,100,28.12,115.7,...,118,8.72,12.8,5,3.46,2,0,975.4,1285.4,100.26
1964,MD,120,415,0,1,40,128.1,99,21.78,247.7,...,121,8.99,15.6,3,4.21,0,0,1182.2,1483.2,112.06
976,NC,45,408,0,1,38,196.8,92,33.46,254.2,...,85,11.78,7.7,2,2.08,1,0,1441.0,1728.0,137.86
1340,WY,90,408,0,1,39,94.8,89,16.12,219.1,...,65,8.88,11.4,5,3.08,1,0,1045.4,1295.4,93.40

In [14]:
#what to bin

to_bin = teledf.iloc[:,7:18].join(teledf.iloc[:,-3:])
to_bin = to_bin.join(teledf['Account length'])
to_bin = to_bin.join(teledf['Number vmail messages'])
to_bin.head()

,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Total minutes,Total calls,Total charge,Account length,Number vmail messages
0,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1434.4,1737.4,151.12,128,25
1,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1250.4,1582.4,118.48,107,26
2,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,1078.8,1411.8,124.58,137,0
3,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,1129.6,1384.6,133.60,84,0
4,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,1024.0,1383.0,104.18,75,0

In [15]:
#bin continuous variables

bins = []

for i in to_bin.columns:
    bins.append(pd.cut(to_bin[i],5, labels=[0,1,2,3,4]))

In [16]:
bindf = pd.DataFrame(bins).transpose().add_prefix('Bin_')

In [17]:
#QC

bindf.head()
bindf.shape
bindf.sample(10)

,Bin_Total day calls,Bin_Total day charge,Bin_Total eve minutes,Bin_Total eve calls,Bin_Total eve charge,Bin_Total night minutes,Bin_Total night calls,Bin_Total night charge,Bin_Total intl minutes,Bin_Total intl calls,Bin_Total intl charge,Bin_Total minutes,Bin_Total calls,Bin_Total charge,Bin_Account length,Bin_Number vmail messages
1088,3,1,3,2,3,1,2,1,2,0,2,2,2,2,1,2
889,2,3,1,3,1,2,2,2,3,1,3,2,2,2,2,2
3225,2,3,2,1,2,2,2,2,2,1,2,2,2,3,1,0
2026,3,2,2,2,2,1,1,1,2,1,2,2,2,2,0,0
1432,3,2,3,3,3,2,4,2,2,1,2,3,3,3,2,0
3107,2,3,4,2,4,1,1,1,2,1,2,3,3,3,2,0
2460,2,2,3,2,3,1,2,1,2,0,2,1,1,2,1,2
2141,3,1,4,2,4,1,1,1,3,1,3,2,2,2,1,0
2090,2,3,3,3,3,2,2,2,2,0,2,3,3,3,1,0
1228,3,1,3,2,3,1,2,1,2,2,2,2,2,1,3,0

In [18]:
#final datasets

teledf_all = teledf.join(bindf)
teledf_bins = teledf.drop(columns = to_bin.columns)
teledf_churn = teledf[teledf['Churn']==1]
teledf_nochurn = teledf[teledf['Churn']==0]

In [19]:
#QC

teledf_all.head()
teledf_bins.head()
teledf_churn['Churn'].value_counts()
teledf_nochurn['Churn'].value_counts()

0    2850
Name: Churn, dtype: int64

In [20]:
#export datasets for analysis notebook

teledf_all.to_csv('teledf_all.csv')
teledf_bins.to_csv('teledf_bins.csv')
teledf_churn.to_csv('teledf_churn.csv')
teledf_nochurn.to_csv('teledf_nochurn.csv')

In [ ]:
#basic testing
#run after changes in dataset

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.pipeline import Pipeline
from scipy.cluster.hierarchy import dendrogram, linkage

In [ ]:
X = teledf.drop(columns = ['State'])

scaler = StandardScaler()
pca = PCA()

X_scaled = scaler.fit_transform(X)
X_scaled_pca = pca.fit_transform(X_scaled)

In [ ]:
kmeans = KMeans()
dbscan = DBSCAN()
aggclus = AgglomerativeClustering()

In [ ]:
sil_score = []

for i in [kmeans, aggclus]:
    i.fit(X_scaled_pca)

In [ ]:
dbscan.fit(X_scaled)
dbscan.labels_

In [ ]:
silhouette_score(X_scaled, kmeans.labels_)

In [ ]:
silhouette_score(X_scaled, aggclus.labels_)

In [ ]:
silhouette_score(X_scaled, dbscan.labels_)

In [ ]:
sns.scatterplot(X_scaled_pca[:,0],
               X_scaled_pca[:,1],
               hue = kmeans.labels_)
plt.title('Kmeans')
plt.xlabel('PCA1')
plt.ylabel('PCA2')
plt.show()

#too many clusters

In [ ]:
sns.scatterplot(X_scaled_pca[:,0],
               X_scaled_pca[:,1],
               hue = aggclus.labels_)
plt.title('Agglomerative Clustering')
plt.xlabel('PCA1')
plt.ylabel('PCA2')
plt.show()

# too much overlap

In [ ]:
sns.scatterplot(X_scaled_pca[:,0],
               X_scaled_pca[:,1],
               hue = dbscan.labels_)
plt.title('DBSCAN')
plt.xlabel('PCA1')
plt.ylabel('PCA2')
plt.show()

#too much noise
#also unable to compute silhouette score