<a href="https://colab.research.google.com/github/kangand/1000ml/blob/master/Trip_Baseline_Overview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trip Data Overview

Answers basic route overview questions using the Trips table.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.rcParams['figure.facecolor']='w'

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
trips_df = pd.read_csv('/content/drive/My Drive/trips_df.csv', index_col = 0)

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
# basic table overview

trips_df.head()

       SerialNo    TripId  ... StopLatitude StopLongitude
0  G7B620D8E5A9  69506070  ...    49.273396   -123.091431
1  G7B620D8E5A9  69500796  ...    49.273293   -123.091408
2  G7B620D8E5A9  69500824  ...    49.274342   -123.091225
3  G7B620D8E5A9  69500775  ...    49.274319   -123.091125
4  G7B620D8E5A9  69500788  ...    49.273266   -123.101059

[5 rows x 10 columns]

In [5]:
trips_df.shape

(7359532, 10)

In [6]:
trips_df.duplicated().sum()

89383

In [7]:
trips_df.isna().sum()

SerialNo           0
TripId             0
StartTime          0
StopTime           0
DrivingDuration    0
StopDuration       0
Distance           0
IdlingDuration     0
StopLatitude       0
StopLongitude      0
dtype: int64

In [0]:
trips_df.nunique()

In [0]:
trips_df.describe()

In [8]:
trips_df.dtypes

SerialNo            object
TripId               int64
StartTime           object
StopTime            object
DrivingDuration    float64
StopDuration       float64
Distance           float64
IdlingDuration     float64
StopLatitude       float64
StopLongitude      float64
dtype: object

In [0]:
# note that a lot of trips seem to end in .937 or 0, likely an measuring instrument limitation
# a lot of trips have no driving duration, meaning the truck was turned on and off without moving


trips_df.DrivingDuration.value_counts().sort_values(ascending=False).head(20)

In [0]:
# many counts of extremely short distance trips

trips_df.Distance.value_counts().sort_values(ascending=False).head(20)

In [0]:
sns.distplot(trips_df['DrivingDuration'])

# distribution graphs look like shit because of the zeroes, so let's just drop them for now

In [14]:
trips_df2 = trips_df[trips_df['DrivingDuration'] > 0]
trips_df2 = trips_df2[trips_df['Distance'] > 0]
trips_df2.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(7359532, 10)

In [15]:
# start time and stop time convert to datetime
# strings have lots of extraneous characters 

trips_df2[['StartTime', 'StopTime']].head()

# we only need the first 19 to get datetime down to the second

                          StartTime                          StopTime
0  2019-02-06 15:02:27.063000+00:00         2019-02-06 15:03:12+00:00
1  2019-02-04 15:13:21.063000+00:00         2019-02-04 15:16:28+00:00
2  2019-02-04 22:24:17.187000+00:00  2019-02-04 22:25:11.063000+00:00
4  2019-02-04 09:11:51.063000+00:00         2019-02-04 09:12:11+00:00
5  2019-02-04 09:59:30.127000+00:00         2019-02-04 10:00:12+00:00

In [20]:
trips_df2['StartTime'].str.slice(0,19)

0          2019-02-06 15:02:27
1          2019-02-04 15:13:21
2          2019-02-04 22:24:17
4          2019-02-04 09:11:51
5          2019-02-04 09:59:30
                  ...
7359527    2019-11-28 16:30:44
7359528    2019-07-25 14:33:50
7359529    2019-04-29 14:25:53
7359530    2019-06-28 19:05:09
7359531    2019-02-27 19:56:33
Name: StartTime, Length: 7259789, dtype: object